.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

stopCamera {
  background-color: green
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.label {
  list-style-type: none;
  color: rgb(88, 85, 85);
  border: 1px solid #333;
  margin: 0 5px 55px 10px;
  padding: 10px 15px;
  text-align: left;
  border-left: none;
  border-right: none;
  border-top: none;
  font-weight: 600;
  text-transform: capitalize;
}


ul {
  padding: 0;
}

li {
  list-style-type: none;
}


.container {
  margin-top: 30px;
  /* width: 40%; */
}