.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

stopCamera {
  background-color: green
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.label {
  list-style-type: none;
  color: rgb(88, 85, 85);
  background-color: #f2f2f2;
  border: 1px solid #333;
  margin: 0 10px 15px 10px;
  width: 70%;
  height: 39px;
  text-align: center;
  border-left: none;
  border-right: none;
  border-top: none;
  box-shadow: -2px -1px 3px #444;
}


ul {
  padding: 0;
  margin-left: -40px
}

li {
  list-style-type: none;
}


.container {
  margin-top: 30px;
  width: 40%;
}