
.label {
  list-style-type: none;
  color: rgb(88, 85, 85);
  border: 1px solid #333;
  margin: 0 5px 55px 10px;
  padding: 10px 15px;
  text-align: left;
  border-left: none;
  border-right: none;
  border-top: none;
  font-weight: 600;
  text-transform: capitalize;
}


ul {
  padding: 0;
}

li {
  list-style-type: none;
}