ul.print > li > input {
    outline: none;
    border-bottom: 1px solid #333;
    padding: 10px;
    font-size: 12px;
    width: 60%;

}

ul.print > li > input:hover {
    cursor: all-scroll;
}

li {
    margin-left: -108px;
}

button.delete.btn.btn-danger {
    width: 40px;
    height: 38px;
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
    margin-left: 1px;
    position: absolute;
    right: -7px;
}

.input-group-append {
    position: absolute;
    right: 12px;
    top: 1px;
}

.input-group > input {
    border-bottom: 0.5px solid #333 !important;
    height: 39px;
    width: 92% !important;
    margin-left: -33px !important;
}

span.drag {
    position: absolute;
    border: 1px solid #333;
    width: 10px;
    margin-left: 1px;
    background-color: #f2f2f2;
    padding: 5px 20px 0 11px;
    height: 38px;
}