body {
    background-color: #f2f2f270;
    padding: 0px;
    margin-top: 20px;
}

ul.print > li > input {
    outline: none;
    border-bottom: 1px solid #333;
    padding: 10px;
    font-size: 12px;
    margin-left: -33px;
    margin-top: -4.2px;
    width: 499px; 
}

ul.print > li > input:hover {
    cursor: all-scroll;
}

button.delete.btn.btn-danger {
    width: 30px;
    height: 39px;
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
    margin-top: -5px;
    margin-left: 1px;
    position: absolute;
    right: 35px;
}

.input-group-append {
    position: absolute;
    right: 12px;
    top: 1px;
}

.input-group > input {
    border-bottom: 0.5px solid #333 !important;
    height: 39px;
    width: 50% !important;
    margin-left: -33px !important;
}

span.drag {
    position: absolute;
    border: 1px solid #333;
    width: 10px;
    margin-top: -5px;
    background-color: #f2f2f2;
    padding: 5px 20px 0 11px;
    height: 39px;
}

.draggedItems {
    margin-bottom: 50px;
    margin-top: 55px;
    margin-left: -60px;
}


.form {
    max-width: 730px;
}

.label {
    list-style-type: none;
    color: rgb(88, 85, 85);
    border: 1px solid #333;
    margin: 0 5px 55px 10px;
    padding: 10px 15px;
    text-align: left;
    border-left: none;
    border-right: none;
    border-top: none;
    font-weight: 600;
    text-transform: capitalize;
  }
  
  
  ul {
    padding: 0;
  }
  
  li {
    list-style-type: none;
  }

  @media screen and (max-width: 425px) {
    ul.print > li > input {
        width: 250px;
    }

    .login-page {
        width: 400px;
        padding: 8% 0 0;
        margin: auto;
    }

    .form {
        width: 390px;
    }
  }

  @media screen and (max-width: 375px) {
    ul.print > li > input {
        width: 208px;
    }

    .login-page {
        width: 330px;
        padding: 8% 0 0;
        margin: auto;
    }

    .form {
        width: 330px;
    }

    button.delete.btn.btn-danger {
        right: 15px;
    }
  }


  @media screen and (max-width: 320px) {
    ul.print > li > input {
        width: 173px;
    }
    .login-page {
        width: 300px;
        padding: 8% 0 0;
        margin: auto;
    }

    .form {
        width: 300px;
    }

    button.delete.btn.btn-danger {
        right: 20px;
    }
  }