.capture-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 750px;
    margin: 0 auto 0;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(58, 35, 190);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form .message {
    margin: 15px 0 0;
    color: black;
    font-size: 12px;
  }
  .form .message a {
    color: rgb(58, 35, 190);
    text-decoration: none;
  }
  
  body {
    background-image: linear-gradient(to bottom, #04528E, 60%, #29DD00);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    text-align: center;
    color: #FFFFFF;
  }
  
  
  /* #add-button{
    align-items: center;
    display: flex;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-left: -50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  #upload-button {
    align-items: center;
    display: flex;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-left: -50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  #capture-button {
    align-items: center;
    display: flex;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-left: -50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  } */
  
  